[iam-p] {
	margin: 0;
}

[iam-input ~= indexes]
, [iam-select] {
	box-sizing: border-box;
	margin-top: .5ex;
	min-width: 120px;
	width: 150px;
}

[iam-select-option]:hover {
	background: #1882A8;
	color: white;
}

[iam-select]
, [iam-select-option]
, [iam-select-option ~= disabled]:hover {
	background: white;
}

[iam-select-option ~= disabled]
, [iam-select-option ~= disabled]:hover {
	color: gray;
	cursor: not-allowed;
}
