[iam-select] {
	min-width: 120px;
}

[iam-select-option]:hover {
	background: #1882A8;
	color: white;
}

[iam-select]
, [iam-select-option]
, [iam-select-option ~= disabled]:hover {
	background: white;
}

[iam-select-option ~= disabled]
, [iam-select-option ~= disabled]:hover {
	color: gray;
}
