/* coding with iam-css v3.2 methodology: https://github.com/viT-1/iAMcss/blob/master/v3/styleguide.md */

[iam-p ~= selected] { font-weight: bolder; }

/* #region iam-themes="simple-colors" for iam-select */
/* You can redefine it by define theme on parent html element (and variables in your css) */
[iam-themes ~= simple-colors] {
	--iam-select-c-highlight: SeaGreen;
	--iam-select-c-back: White;
	--iam-select-c-text: Black;
	--iam-select-c-2nd-back: #777;
	--iam-select-c-2nd-fore: var(--iam-select-c-back);
	--iam-select-c-border: var(--iam-select-c-text);
	--iam-select-c-selected-fore: var(--iam-select-c-highlight);
	--iam-select-c-title-back: var(--iam-select-c-highlight);
	--iam-select-c-title-fore: var(--iam-select-c-2nd-fore);
	--iam-select-c-disabled-fore: #aaa;
}
/* #endregion */

/* #region iam-select */
[iam-select ~= "is-undef"] {
	--iam-select-is-undef: ;
}

[iam-select ~= "is-closed"] {
	--iam-select-is-closed: ;
}

[iam-select ~= "is-open"] {
	--iam-select-is-open: ;
}

[iam-select] {
	display: inline-block;
	height: 2em;
	position: relative;
	width: 150px;
}

/* slot rendering for getting innerHTML */
[iam-select-slot]
, [iam-select-val] {
	display: none;
}

[iam-select-frame] {
	border: solid 1px;
	cursor: pointer;
	position: absolute;
	width: 100%;
}

[iam-select-ddbtn] {
	border: none;
	display: block;
	padding: .5ex .5ex 0 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 2ex;
	z-index: 2;
}

[iam-select-ddbtn]::after {
	--content-ddbtn-toopen: var(--iam-select-is-closed) '▼';
	--content-ddbtn-toclose: var(--iam-select-is-open) '▲';
	content: var(--content-ddbtn-toopen, var(--content-ddbtn-toclose));
}

[iam-select-placeholder]
, [iam-select-title]
, [iam-select-item]
, [iam-select-ddbtn] {
	cursor: pointer;
	line-height: 2em;
}

[iam-select-placeholder]
, [iam-select-title]
, [iam-select-item] {
	overflow: hidden;
	padding: 0 2ex 0 1ex;
	position: relative;
	white-space: nowrap;
}

[iam-select-placeholder] {
	--disp-holder-if-undef-or-open: var(--iam-select-is-undef, var(--iam-select-is-open)) block;
	display: var(--disp-holder-if-undef-or-open, none);
}

[iam-select-title]
, [iam-select-item] {
	--disp-if-open: var(--iam-select-is-open) block;
	display: var(--disp-if-open, none);
}

[iam-select-val]:checked
+ [iam-select-item] {
	display: block; /* always shown if checked */

	--decor-if-open: var(--iam-select-is-open) underline;
	--decor-if-closed: var(--iam-select-is-closed) none;
	text-decoration: var(--decor-if-open, --decor-if-closed);
}

[iam-select-val][disabled]
+ [iam-select-item]
, [iam-select-title][disabled] {
	cursor: default;
	text-decoration: line-through;
}
/* #endregion */

/* #region iam-select colors */
[iam-select-ddbtn]
, [iam-select-frame] {
	background: var(--iam-select-c-back);
}

[iam-select-item]:hover {
	--iam-select-item-mouseover: ;
}

[iam-select-item] {
	--backclr-if-open-and-hover: var(--iam-select-is-open) var(--iam-select-item-mouseover) var(--iam-select-c-2nd-back);
	background: var(--backclr-if-open-and-hover);

	--foreclr-if-open-and-hover: var(--iam-select-is-open) var(--iam-select-item-mouseover) var(--iam-select-c-2nd-fore);
	color: var(--foreclr-if-open-and-hover);
}

[iam-select-val][disabled]
+ [iam-select-item]:hover
, [iam-select-val][disabled]
+ [iam-select-item] {
	background: var(--iam-select-c-back);
	color: var(--iam-select-c-disabled-fore);
}

[iam-select-val]:checked
+ [iam-select-item] {
	color: var(--iam-select-c-selected-fore);
}

[iam-select-title] {
	background: var(--iam-select-c-title-back);
	color: var(--iam-select-c-title-fore);
}

[iam-select-frame] {
	border-color: var(--iam-select-c-border);
}
/* #endregion */
