[iam-grid-cols] {
	display: -ms-grid;
	display: grid;

	border-left: solid 1ex;
}

[iam-grid-cols ~= "cols:3"] {
	-ms-grid-columns: 33.33% 33.33% 33.33%;
	grid-template-columns: repeat(3, 33.33%);
}

[iam-grid-cols ~= "cols:4"] {
	-ms-grid-columns: 25% 25% 25% 25%;
	grid-template-columns: repeat(4, 25%);
}

[iam-grid-cols ~= "cols:5"] {
	-ms-grid-columns: 20% 20% 20% 20% 20%;
	grid-template-columns: repeat(5, 20%);
}

[iam-grid-col] {
	border-right: solid 1ex;
}

[iam-grid-col]:nth-child(2) {
	-ms-grid-column: 2;
}

[iam-grid-col]:nth-child(3) {
	-ms-grid-column: 3;
}

[iam-grid-col]:nth-child(4) {
	-ms-grid-column: 4;
}

[iam-grid-col ~= "span:2"]{
	-ms-grid-column-span: 2;
	grid-column: span 2;
}
