[iam-flex-cols] {
	padding: 0;

	display: flex;
	flex-flow: row nowrap;
	gap: 0 1ex;
}

[iam-flex-col ~= "col:1/3"] {
	flex: 0 1 33.33%;
}

[iam-flex-col ~= "col:1/4"] {
	flex: 0 1 25%;
}

[iam-flex-col ~= "col:1/2"] {
	flex: 0 1 50%;
}

[iam-flex-col ~= "li"] {
	list-style-type: none;
}

[iam-flex-col-list] {
	list-style-type: disc;
}

[iam-flex-col-header] {
	padding: 0 0 0 2ex;
}

[iam-flex-col-header]::after {
	content: ':';
}
