[iam-prop-cols] {
	column-gap: 1ex;
	padding-top: 1ex;

	/* Последний элемент списка может быть подвещен выше, потому и тут отступ */
	padding-bottom: 1ex;
}

[iam-prop-cols ~= "cols:2"] {
	column-count: 2;
}

[iam-prop-cols ~= "cols:3"] {
	column-count: 3;
}
