/* #region iam-floated-columns */
[iam-floated-columns] {
	clear: both;
	border-width: 1ex;
	border-style: solid none;
	box-sizing: border-box;
	overflow: hidden;
}

/*
**	можно было ширины установить в одном месте iam-floated-columns, но нужна поддержка переменных
** @see [поддержка браузерами css-переменных](https://caniuse.com/css-variables)
*/
[iam-floated-column ~= "col:1/3"] {
	width: 33.33%;
}

[iam-floated-column ~= "col:2/3"] {
	width: 66.66%;
}

[iam-floated-column ~= "col:1/4"] {
	width: 25%;
}

[iam-floated-column] {
	box-sizing: border-box;
	float: left;
	border-width: 1ex;
	border-style: none none none solid;
	margin-top: 0;
	padding-right: 1ex;

	margin-bottom: -500em;
	padding-bottom: 500em;
}

[iam-floated-column]:first-of-type {
	border-style: none;
}

[iam-floated-column]:last-of-type {
	/* ie11 не поддерживает flow-root */
	display: table-cell;
	/* @see [css-live.ru article](https://css-live.ru/faq/displayflow-root-not-clearfix.html) */
	/* @see [css-live.ru article](https://css-live.ru/tricks/novaya-alternativa-clearfix-u-i-overflowhidden.html) */
}
/* #endregion */
/* #region iam-list с float элементами */
[iam-list *= "floated cols:2"] {
	/* В браузерах не поддерживающих переменные, ровно двух подколонок не будет */
	/* --iam-li-width: 50%; */
}

[iam-li ~= "floated"] {
	float: left;
	width: 50%;
}
/* #endregion */
/* #region правила связанные с контентом, а не структурой вёрстки */
[iam-floated-columns ~= "pe-genp"] {
	color: khaki;
}

[iam-floated-column ~= "pe-genp"]:nth-child(2n) {
	color: olive;
	background: khaki;
	/* list-style-type: decimal-leading-zero; */
}

[iam-floated-column ~= "pe-genp"]:nth-child(2n+1) {
	background: olive;
}

[iam-floated-columns *= "lem-"] {
	color: lightskyblue;
}

[iam-floated-column *= "lem-"] {
	background: midnightblue;
}

[iam-floated-column *= "lem-"]:nth-child(2n+1) {
	background: mediumblue;
}

[iam-floated-columns ~= "lem-pirx"] {
	width: 544px;
}
/* #endregion */
