/* #region правила определяющие струтуру вёрстки */
[iam-article] {
	margin: auto;
	width: 720px;
}

/* mod для соответствующей перезаписи переменных уместнее, чем делать то же самое в mix */
[iam-list ~= "floated-column"] {
	/* переропределение установок, которые не устраивают, лучше со сносом
	исходных установок (особенно переменных), чем дополнением новых, но
	следует учитывать, поддерживает ли браузер css-переменные в принципе
	*/
	/* --iam-list-margin: 0; */
	/* margin: 0 var(--text-space); */
	margin: 0;
}

[iam-floated-row] {
	clear: both;
	border-width: 1ex;
	border-style: solid;
	box-sizing: border-box;
	margin-bottom: 1em;
	margin-bottom: var(--text-v-space, 1rem);
	overflow: hidden;
}

/* можно было ширины установить в одном месте iam-floated-row, но нужна поддержка переменных */
/* @see [поддержка браузерами css-переменных](https://caniuse.com/css-variables) */
[iam-floated-column ~= "cols:1/3"] {
	width: 33.33%;
}

[iam-floated-column ~= "cols:2/3"] {
	width: 66.66%;
}

[iam-floated-column ~= "cols:1/4"] {
	width: 25%;
}

[iam-floated-column] {
	box-sizing: border-box;
	float: left;
	border-width: 1ex;
	border-style: none none none solid;
	margin-top: 0;
	padding-right: 1ex;

	margin-bottom: -500em;
	padding-bottom: 500em;
}

[iam-floated-column]:first-of-type {
	border-style: none;
}

[iam-floated-column]:last-of-type {
	/* ie11 не поддерживает flow-root */
	display: table-cell;
	/* @see [css-live.ru article](https://css-live.ru/faq/displayflow-root-not-clearfix.html) */
	/* @see [css-live.ru article](https://css-live.ru/tricks/novaya-alternativa-clearfix-u-i-overflowhidden.html) */
}
/* #endregion */

/* #region правила связанные с контентом, а не структурой вёрстки */
[iam-floated-row ~= "pe-genp"] {
	color: khaki;
}

[iam-floated-column ~= "pe-genp"]:nth-child(2n) {
	color: olive;
	background: khaki;
	/* list-style-type: decimal-leading-zero; */
}

[iam-floated-column ~= "pe-genp"]:nth-child(2n+1) {
	background: olive;
}

[iam-floated-row *= "lem-"] {
	color: lightskyblue;
}

[iam-floated-column *= "lem-"] {
	background: midnightblue;
}

[iam-floated-column *= "lem-"]:nth-child(2n+1) {
	background: mediumblue;
}

[iam-floated-row ~= "lem-pirx"] {
	width: 544px;
}

[iam-floated-column ~= "lem-pirx"] {
	padding-left: 1ex;
}

[iam-floated-column *= "2/3 lem-pirx"] {
	/* В браузерах не поддерживающих переменные, двух подколонок не будет */
	--iam-li-width: 50%;
}

/* Для iam-css это плохой код, с пробелом в селекторе */
[iam-floated-column ~= "lem-pirx"] em {
	float: left;
}
/* #endregion */
