/*	#region правила определяющие струтуру вёрстки */
/*	местный root для css-переменных */
[iam-body ~= "pg-columns"] {
	--iam-article-cols-margin: var(--text-margin);
	--iam-main-header-width: 720px;
	--iam-p-text-indent: var(--text-space);
}

/*	#region iam-article */
/*	Правильней задать соответствующие css-vars в [iam-body ~= "pg-columns"],
**	также, как это сделано с iam-main-header
*/
[iam-article] {
	width: 720px;
}

/*	#region iam-article-cols css-var fallback */
[iam-article-col]:nth-child(2n) {
	color: InfoBackground;
	background: InfoText;
}

[iam-article-cols]
, [iam-article-col]:nth-child(2n+1) {
	color: InfoText;
	background: InfoBackground;
}
/*	#endregion */

/*	По БЭМу margin не у самого блока iam-float-cols,
**	а у примиксованного элемента внешнего блока iam-article
**	В других страницах можно переопределить значение
**	через перекрытие селектора или css-var
*/
[iam-article-cols] {
	box-sizing: border-box;
	border-width: 1ex;
	border-style: solid none;

	margin: 0 0 1rem;
	margin: var(--iam-article-cols-margin);

	color: var(--iam-article-cols-text-color, InfoText);
	background: var(--iam-article-cols-back-color, InfoBackground);
}

ul[iam-article-cols] {
	padding-left: 0;
}

[iam-article-col] {
	margin: 0;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

[iam-article-col]:nth-child(2n+1) {
	color: var(--iam-article-col-2n1-text-color, InfoText);
	background: var(--iam-article-col-2n1-back-color, InfoBackground);
}

[iam-article-col]:nth-child(2n) {
	color: var(--iam-article-col-2n-text-color, InfoBackground);
	background: var(--iam-article-col-2n-back-color, InfoText);
}

[iam-article-col-header] {
	padding: 0 1ex 0 2ex;
	padding: var(--iam-article-col-header-padding, 0 1ex 0 2ex);
}

[iam-article-col-header]::after {
	content: ':';
}
/*	#endregion */

/*	#region content depends */
[iam-article-cols ~= "clarke"]
, [iam-article-col ~= "clarke"]:nth-child(2n+1) {
	color: rebeccapurple;
	background: plum;
}

[iam-article-col ~= "clarke"]:nth-child(2n) {
	color: plum;
	background: rebeccapurple;
}

[iam-article-cols ~= "clarke"] {
	/* inverse even column colors */
	--iam-article-col-2n1-text-color: rebeccapurple;
	--iam-article-col-2n1-back-color: plum;
	--iam-article-col-2n-text-color: plum;
	--iam-article-col-2n-back-color: rebeccapurple;
}


/*	#region if css-vars supported even-odd variant */
[iam-article-cols ~= "pelevin"] {
	--iam-article-cols-text-color: khaki;
	--iam-article-cols-back-color: white;
	/* inverse even column colors */
	--iam-article-col-2n1-text-color: var(--iam-article-cols-text-color);
	--iam-article-col-2n1-back-color: olive;
	--iam-article-col-2n-text-color: olive;
	--iam-article-col-2n-back-color: var(--iam-article-cols-text-color);
}
/*	#endregion */

/*	#region if css-vars is not supported even-odd variant */
/*	вынуждены писать более специфчные селекторы вместо переменных,
**	чтобы перевесить селекторы с css-переменными: iam-article-cols css-var fallback
*/
[iam-article-cols ~= "lem"] /* для border */
, [iam-article-col ~= "lem"]:nth-child(2n)
, [iam-article-col ~= "lem"]:nth-child(2n+1) {
	color: lightskyblue;
}

[iam-article-cols ~= "lem"] {
	background: lightskyblue;
}

[iam-article-col ~= "lem"]:nth-child(2n+1) {
	background: mediumblue;
}

[iam-article-col ~= "lem"]:nth-child(2n) {
	background: midnightblue;
}
/*	#endregion */

[iam-article-cols ~= "lem"] {
	--iam-article-cols-text-color: lightskyblue;
	/* inverse even column colors */
	--iam-article-col-2n1-text-color: lightskyblue;
	--iam-article-col-2n1-back-color: mediumblue;
	--iam-article-col-2n-text-color: lightskyblue;
	--iam-article-col-2n-back-color: midnightblue;
}

[iam-article-cols ~= "pirx-ru"] {
	width: 544px;
}
/*	#endregion */
