/* May be preprocessed and have one css file or nested folder with index.css to each entity */

/* #region :root or [iam-themes ~= some-theme] */
:root {
	--text-space: 2.5rem;
	--text-v-space: 1rem;

	--iam-h-display: block;
	--iam-h-font-weight: bolder;
	--iam-h-font-style: normal;
	--iam-h-margin: 0 auto var(--text-v-space);

	--iam-h1-font-size: 1.2em;
	--iam-h2-font-size: 1.1em;

	--iam-p-font-size: inherit;
	--iam-p-margin: var(--iam-h-margin);

	--iam-article-width: 640px;
}
/* #endregion */

/* #region iam-article */
[iam-article] {
	--iam-h1-font-size: 1.4em;
	--iam-h2-font-size: 1.2em;

	--iam-article-margin: var(--text-v-space) auto;

	width: 640px; /* css-var fallback */
	width: var(--iam-article-width);
	margin: auto; /* css-var fallback */
	margin: var(--iam-article-margin);
}
/* #endregion */

/* #region iam-h */
[iam-h] {
	display: block; /* css-var fallback */
	display: var(--iam-h-display);
	font-size: var(--iam-h-font-size);
	font-style: var(--iam-h-font-style);
	font-weight: var(--iam-h-font-weight);

	margin: 0 0 1em;
	margin: var(--iam-h-margin, auto);
}

[iam-h ~= h1] {
	--iam-h-font-size: var(--iam-h1-font-size);
}
/* #endregion */

/* #region iam-p */
[iam-p] {
	font-size: var(--iam-p-font-size);
	margin: 1em 0;
	margin: var(--iam-p-margin);
}
/* #endregion */

/* #region iam-list */
[iam-list] {
	--iam-list-margin: 0;
	--iam-list-padding: 0 0 0 var(--text-space);

	margin: 0;
	margin: var(--iam-list-margin, 0);
	padding: 0 0 0 4ex;
	padding: var(--iam-list-padding, 0 0 0 var(--text-space));
}

[iam-list ~= "text"] {
	--iam-li-separator-content: ';';
	--iam-li-end-content: '.';
}

[iam-li] {
	--iam-li-font-size: var(--iam-p-font-size); /* same as iam-p */

	font-size: var(--iam-li-font-size);
	width: var(--iam-li-width);
}

[iam-li]::after {
	content: var(--iam-li-separator-content);
}

[iam-li]:last-of-type::after {
	content: var(--iam-li-end-content);
}

/* #region iam-list with cnt css-counter (not only for ul/ol) */
[iam-list ~= "cnt"]:first-of-type {
	counter-set: cnt 0;
}

[iam-list ~= "cnt"] {
	padding-left: 0;
}

[iam-li ~= "cnt"] {
	counter-increment: cnt;

	display: inline-block;
}

/* marker align to right */
[iam-li ~= "cnt"]::before {
	content: '(' counter(cnt);
	direction: rtl;
	display: inline-block;
	padding: 0 .5ex;
	width: 1em;
}

/*
[iam-li ~= "cnt"]::before {
	content: counter(cnt, decimal-leading-zero) ') ';
}
*/

/* #endregion */
/* #endregion */