/*	May be preprocessed and have one css file or nested folder with index.css to each entity */

/*	#region :root or [iam-themes ~= some-theme] */
:root {
	--text-space: 2.5rem;
	--text-v-space: 1rem;
	--text-margin: 0 0 var(--text-v-space);
	--iam-p-font-size: inherit;
}
/*	#endregion */

/*	#region html5 for old browsers */
main {
	display: block;
}
/*	#endregion */

[iam-nav] {
	display: block;
}

[iam-nav-item] {
	display: block;
	margin: 0 0 1em;
	margin: var(--text-margin);
}

/*	#region iam-article */
[iam-article] {
	--iam-h1-font-size: 1.4rem;
	--iam-h2-font-size: 1.2rem;

	margin: auto; /* css-var fallback */
	margin: var(--iam-article-margin, var(--text-v-space) auto);

	width: var(--iam-article-width, 100%);
}
/*	#endregion */

/*	#region iam-h */
[iam-h] {
	display: block; /* css-var fallback */
	display: var(--iam-h-display, block);
	font-family: inherit;
	font-family: var(--iam-h-font-family, inherit);
	font-size: var(--iam-h-font-size);
	font-style: normal;
	font-style: var(--iam-h-font-style, normal);
	font-weight: bolder;
	font-weight: var(--iam-h-font-weight, bolder);

	margin: 0 0 1rem;
	margin: var(--iam-h-margin, var(--text-margin));
}

[iam-h ~= h1] {
	font-size: 1.2em;
	--iam-h-font-size: var(--iam-h1-font-size, 1.2rem);
}

[iam-h ~= h2] {
	font-size: 1.1em;
	--iam-h-font-size: var(--iam-h2-font-size, 1.1rem);
}
/*	#endregion */

/*	#region iam-p */
[iam-p] {
	font-size: var(--iam-p-font-size);
	margin: 1rem 0;
	margin: var(--iam-p-margin, var(--text-margin));
	text-indent: 0;
	text-indent: var(--iam-p-text-indent, 0);
}
/*	#endregion */

/*	#region iam-list */
/*	css-var fallbacks first */
[iam-list] {
	list-style-type: inherit;
	margin: 0;
	padding: 0 1ex 0 2.5em;
}

[iam-list ~= "ordered"] {
	list-style-type: decimal;
	--iam-list-style-type: decimal;
}

[iam-list ~= "cnt"] {
	--iam-list-style-type: none;
	list-style-type: none;

	--iam-list-padding: 0;
	padding: 0;

	/* vars for nested elements */
	--iam-li-padding: 0 1ex 0 var(--text-space);
}

[iam-list ~= "text"] {
	--iam-li-separator-content: ';';
	--iam-li-end-content: '.';
}

/*	applying css-vars last */
[iam-list] {
	list-style-type: var(--iam-list-style-type, inherit);
	margin: var(--iam-list-margin, 0);
	padding: var(--iam-list-padding, 0 1ex 0 var(--text-space));
}

[iam-li] {
	box-sizing: border-box;

	display: list-item;
	display: (--iam-li-display, list-item);

	font-size: var(--iam-li-font-size, var(--iam-p-font-size));
	margin: 0;
	margin: var(--iam-li-margin, 0);
	padding: var(--iam-li-padding);
	width: var(--iam-li-width);
}

/*	#region iam-list counter logic */
[iam-li ~= "cnt"] {
	counter-increment: cnt;
}

[iam-li]::after {
	content: var(--iam-li-separator-content);
}

[iam-li]:last-of-type::after {
	content: var(--iam-li-end-content);
}

/*	#region iam-list with cnt css-counter (not only for ul/ol) */
[iam-list ~= "cnt"]:first-of-type {
	counter-set: cnt 0;
}

[iam-li ~= "cnt"] {
	padding: 0 1ex 0 2.5em;
	position: relative;
}

[iam-li ~= "cnt"]::before {
	display: block;
	left: 0;
	position: absolute;
	text-align: right;
	text-decoration: none;
	width: 2.2em;

	content: counter(cnt) ') ';
}
/*	#endregion */
/*	#endregion */
