<!DOCTYPE html>
<html>
<head>
	<title>List with vuetify filter tags</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.css" rel="stylesheet" />
	<!-- Why 2.4.5? https://github.com/vuetifyjs/vuetify/issues/13383 -->
	<!-- <link href="../../assets/vuetify2.4.5.min.css" rel="stylesheet" /> -->
	
	<script>window.MSInputMethodContext && document.documentMode && document.write(
		'<script src="../../assets/core-js3.18.2.min.js"><\/script>');</script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.2/minified.js"></script> -->
	<link rel="stylesheet" type="text/css" href="iam-tag-group.css" />
	<link rel="stylesheet" type="text/css" href="vuetify-tags.css" />
</head>
<body>
	<main iam-app role="main" data-app>
		<iam-tag-group
			@tags-selected="onTagsSelected"
			context="markup"
			title="Markup"
			:tags="tags.markup"
		></iam-tag-group>
		<iam-tag-group
			@tags-selected="onTagsSelected"
			context="style"
			title="Style"
			:tags="tags.style"
		></iam-tag-group>
		<iam-tag-group
			@tags-selected="onTagsSelected"
			context="script"
			title="Script"
			:tags="tags.script"
		></iam-tag-group>
		<iam-tag-group
			@tags-selected="onTagsSelected"
			context="node"
			title="Node"
			:tags="tags.node"
		></iam-tag-group>

		<v-data-table iam-v-data-table
			hide-default-footer
			disable-pagination
			:headers="tableData.headers"
			:items="filteredTableItems">
			<template #item.link="props">
				<a :href="props.item.link" iam-v-data-table-link>{{props.item.name}}</a>
			</template>
			<template #item.tags.markup="props">
				<span v-for="tag in props.item.tags.markup" :iam-v-data-table-tag="setAttrValueForTag(tag, 'markup')">{{tag}}</span>
			</template>
			<template #item.tags.style="props">
				<span v-for="tag in props.item.tags.style" :iam-v-data-table-tag="setAttrValueForTag(tag, 'style')">{{tag}}</span>
			</template>
			<template #item.tags.script="props">
				<span v-for="tag in props.item.tags.script"	:iam-v-data-table-tag="setAttrValueForTag(tag, 'script')">{{tag}}</span>
			</template>
			<template #item.tags.node="props">
				<span v-for="tag in props.item.tags.node" :iam-v-data-table-tag="setAttrValueForTag(tag, 'node')">{{tag}}</span>
			</template>
			<template #no-data>
				<p>Опыт есть, но нет общедоступного кода для демонстрации.</p>
			</template>
		</v-data-table>
	</main>

	<script type="text/x-template" id="iam-tag-group">
		<fieldset iam-tag-group-fieldset>
			<legend iam-h v-if="title">{{title}}</legend>
			<v-chip-group column multiple :value="selectedIndexes" @change="onChange">
				<template v-for="tag in tags">
					<v-tooltip v-if="tag.describe" bottom>
						<template #activator="props">
							<v-chip :iam-tag-group-chip="setAttrValueForTag(tag.label)"
								outlined
								v-on="props.on" v-bind="props.attrs">{{tag.label}}</v-chip>
						</template>
						<span>{{tag.describe}}</span>
					</v-tooltip>
					<v-chip v-else
						:iam-tag-group-chip="setAttrValueForTag(tag.label)"
						outlined
					>{{tag.label}}</v-chip>
				</template>
			</v-chip-group>
		</fieldset>
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.js"></script>
	<!-- <script src="../../assets/vue2.6.14.min.js"></script>
	<script src="../../assets/vuetify2.4.5.min.js"></script> -->
	<script src="iam-tag-group.js"></script>
	<script src="vuetify-tags.js"></script>
</body>
</html>