<!DOCTYPE html>
<html>
<head>
	<title>List with vuetify filter tags</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.css" rel="stylesheet" />
	<!-- Why 2.4.5? https://github.com/vuetifyjs/vuetify/issues/13383 -->
	<!-- <link href="../../assets/vuetify2.4.5.min.css" rel="stylesheet" /> -->
	
	<script>window.MSInputMethodContext && document.documentMode && document.write(
		'<script src="../../assets/core-js3.18.2.min.js"><\/script>');</script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.2/minified.js"></script> -->
	<link rel="stylesheet" type="text/css" href="vuetify-tags.css" />
</head>
<body>
	<main iam-app role="main">
		<fieldset iam-v-data-table-filter>
			<legend iam-h="iam-v-data-table-filter">Markup</legend>
			<v-chip-group column multiple v-model="selectedIndexes.markup">
				<v-chip iam-v-data-table-filter-chip="markup"
					outlined
					v-for="tag in tags.markup">
					{{tag.label}}
				</v-chip>
			</v-chip-group>
		</fieldset>
		<fieldset iam-v-data-table-filter>
			<legend iam-h="iam-v-data-table-filter">Style</legend>
			<v-chip-group column multiple v-model="selectedIndexes.style">
				<v-chip iam-v-data-table-filter-chip="style"
					outlined
					v-for="tag in tags.style">
					{{tag.label}}
				</v-chip>
			</v-chip-group>
		</fieldset>
		<fieldset iam-v-data-table-filter>
			<legend iam-h="iam-v-data-table-filter">Script</legend>
			<v-chip-group column multiple v-model="selectedIndexes.script">
				<v-chip iam-v-data-table-filter-chip="script"
					outlined
					v-for="tag in tags.script">
					{{tag.label}}
				</v-chip>
			</v-chip-group>
		</fieldset>
		<fieldset iam-v-data-table-filter>
			<legend iam-h="iam-v-data-table-filter">Node</legend>
			<v-chip-group column multiple v-model="selectedIndexes.node">
				<v-chip iam-v-data-table-filter-chip="node"
					outlined
					v-for="tag in tags.node">
					{{tag.label}}
				</v-chip>
			</v-chip-group>
		</fieldset>

		<v-data-table iam-v-data-table
			hide-default-footer
			disable-pagination
			:headers="tableData.headers"
			:items="filteredTableItems">
			<template #item.link="props">
				<a :href="props.item.link" iam-v-data-table-link>{{props.item.name}}</a>
			</template>
			<template #item.tags.markup="props">
				<span v-for="tag in props.item.tags.markup" :iam-v-data-table-tag="setAttrValueForTag(tag, 'markup')">{{tag}}</span>
			</template>
			<template #item.tags.style="props">
				<span v-for="tag in props.item.tags.style" :iam-v-data-table-tag="setAttrValueForTag(tag, 'style')">{{tag}}</span>
			</template>
			<template #item.tags.script="props">
				<span v-for="tag in props.item.tags.script"	:iam-v-data-table-tag="setAttrValueForTag(tag, 'script')">{{tag}}</span>
			</template>
			<template #item.tags.node="props">
				<span v-for="tag in props.item.tags.node" :iam-v-data-table-tag="setAttrValueForTag(tag, 'node')">{{tag}}</span>
			</template>
		</v-data-table>
	</main>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.js"></script>
	<!-- <script src="../../assets/vue2.6.14.min.js"></script>
	<script src="../../assets/vuetify2.4.5.min.js"></script> -->
	<script src="vuetify-tags.js"></script>
</body>
</html>