[iam-app] {
	background: white;
	margin: 1em;
}

/* specificy but without space nesting */

/* #region iam-v-data-table */
[iam-v-data-table] {
	max-width: 1200px;
}

[iam-v-data-table] tr:hover {
	background: transparent !important; /* bad bad vuetify "bem" */
}

.iam-v-data-table-th {
	text-align: left;
}

/* #region using classes because of vuetify functionality */
.iam-v-data-table-th.--th-name
, .iam-v-data-table-th.--th-node
, .iam-v-data-table-th.--th-script
, .iam-v-data-table-th.--th-style {
	width: 150px;
}

.iam-v-data-table-th.--th-descr {
	width: 300px;
}

.iam-v-data-table-th.--th-markup {
	width: 100px;
}
/* #endregion */

[iam-v-data-table-tag] {
	overflow-wrap: break-word;
}

[iam-v-data-table-tag]:after {
	content: ', ';
}

[iam-v-data-table-tag]:last-child:after {
	content: '';
}

[iam-v-data-table-tag ~= active] {
	--iam-v-data-table-tag-active-text-color: white;
	--iam-v-data-table-tag-active-back-color: black;
}

[iam-v-data-table-tag ~= markup] {
	--iam-v-data-table-tag-active-back-color: #C33;
}

[iam-v-data-table-tag ~= script] {
	--iam-v-data-table-tag-active-back-color: #F93;
}

[iam-v-data-table-tag ~= style] {
	--iam-v-data-table-tag-active-back-color: #09C;
}

[iam-v-data-table-tag ~= node] {
	--iam-v-data-table-tag-active-back-color: green;
}

[iam-v-data-table-tag ~= active] {
	background: var(--iam-v-data-table-tag-active-back-color);
	color: var(--iam-v-data-table-tag-active-text-color);
}

[iam-v-data-table-tag ~= active]:after {
	background: white;
	color: black;
}

[iam-v-data-table-link][href *= '.io/']:before {
	content: 'Demo: ';
}
/* #endregion */
