[iam-app] {
	background: white;
	margin: 1em;
}


/* #region iam-v-data-table-filter */
[iam-v-data-table-filter] {
	border: 0;
}

[iam-h ~= iam-v-data-table-filter]:after {
	content: ':';
}

/* specificy but without space nesting */
[iam-v-data-table-filter-chip].v-chip--active {
	text-decoration: underline; /* we can't reassign background, bab bad vuetify code! */
}

[iam-v-data-table-filter-chip ~= markup].v-chip {
	border-color: #C33;
}

[iam-v-data-table-filter-chip ~= markup].v-chip--active {
	color: #C33;
}

[iam-v-data-table-filter-chip ~= style].v-chip {
	border-color: #09C;
}

[iam-v-data-table-filter-chip ~= style].v-chip--active {
	color: #09C;
}

[iam-v-data-table-filter-chip ~= script].v-chip {
	border-color: #F93;
}

[iam-v-data-table-filter-chip ~= script].v-chip--active {
	color: #F93;
}

[iam-v-data-table-filter-chip ~= node].v-chip {
	border-color: green;
}

[iam-v-data-table-filter-chip ~= node].v-chip--active {
	color: green;
}
/* #endregion */

/* #region iam-v-data-table */
[iam-v-data-table] {
	max-width: 1200px;
}

[iam-v-data-table] tr:hover {
	background: transparent !important; /* bad bad vuetify "bem" */
}

.iam-v-data-table-th {
	text-align: left;
}

.iam-v-data-table-th.--th-name
, .iam-v-data-table-th.--th-node
, .iam-v-data-table-th.--th-script
, .iam-v-data-table-th.--th-style {
	width: 150px;
}

.iam-v-data-table-th.--th-descr {
	width: 300px;
}

.iam-v-data-table-th.--th-markup {
	width: 100px;
}

[iam-v-data-table-tag] {
	overflow-wrap: break-word;
}

[iam-v-data-table-tag]:after {
	content: ', ';
}

[iam-v-data-table-tag]:last-child:after {
	content: '';
}

[iam-v-data-table-tag ~= active] {
	color: white;
}

[iam-v-data-table-tag *= "markup active"] {
	background: #C33;
}

[iam-v-data-table-tag *= "script active"] {
	background: #F93;
}

[iam-v-data-table-tag *= "style active"] {
	background: #09C;
}

[iam-v-data-table-tag *= "node active"] {
	background: green;
}

[iam-v-data-table-tag ~= active]:after {
	background: white;
	color: black;
}

[iam-v-data-table-link][href *= '.io/']:before {
	content: 'Demo: ';
}
/* #endregion */
